*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero{
    display: flex;
    height: 760px;
    padding: 153px 83px 81px 82px;
    justify-content: center;
    align-items: center;
    background: #37517E;
}

.content{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 615px;
    height: 250px;
    flex-shrink: 0;
    justify-content: space-between;
}

.content h1{
    color: #FFF;
    font-family: 'montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; 
}

.hero p{
    color: #FFF;
    font-family: 'montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    
}

.link{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.button{
    display: flex;
    padding: 9px 28.359px 12px 28px;
    align-items: flex-start;
    border-radius: 50px;
    background: #47B2E4;
    color: #FFF;
    text-decoration: none;
    text-family: 'montserrat', sans-serif;
}

.button:hover{
    background: #FFF;
    color: #47B2E4;
    transition: all 0.3s ease-in-out;
}

.vid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 132.984px;
    height: 45px;
    color: #FFF;
    text-decoration: none;
    text-family: 'montserrat', sans-serif;
}

.vid:hover{
    color: #47B2E4;
    transition: all 0.3s ease-in-out;
}

figure{
    display: flex;
    width: 636px;
    height: 527px;
    flex-shrink: 0;
}

.closing{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: #F3F5FA;
}

article{
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h3{
    font-family: 'montserrat', sans-serif;
    color: #37517E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    height: 40px;
}

article p{
    color: #444;
text-align: center;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;

}

.form{
    display: inline-flex;
    padding: 2px 10px 2px 10px;
    align-items: flex-start;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);

}

.email{
    width: 521px;
    height: 30.5px;
    border: none;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.wrapperf{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #FFFF;
}


.arsha{
    display: flex;
    padding: 0px 154.019px 35.188px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.arsha>h3{
    font-family: 'montserrat', sans-serif;
    color: #37517E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    height: 40px;
    text-transform: uppercase;
}

.arsha>p, .social>p{
    color: #444;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.uslink{
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18.188px;
}

.uslink>li, .services>li {
    list-style-type: none;
    text-decoration: none;
}

.uslink>li>a:hover {
    color: #0D6EFD;
    transition: all 0.3s ease-in-out;
}

.services>li>a:hover {
    color: #0D6EFD;
    transition: all 0.3s ease-in-out;
}


.uslink>li>a, .services>li>a {
    list-style-type: none;
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.uslink>h3, .services>h3, .social>h3{
    color: #37517E;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
}

.services{
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18.188px;
}

.social{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 219px;
}

.social>a{
    border-radius: 18px;
    background: #47B2E4;
}

.copyright{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
   
    justify-content: space-between;
    background: #37517E;
    height: 60px;
}

.copyright p{
    margin-left: 120px;
    margin-right: 120px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px; 
}

.custom-link {
    color: #your-color; /* Ganti 'your-color' dengan warna yang Anda inginkan */
    text-decoration: none; /* Untuk menghapus garis bawah default pada tautan */
  }
  
  .custom-link:hover {
    color: #your-hover-color; /* Warna saat tautan dihover */
  }
  