.login-form-container {
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.login-form-header {
    text-align: center;
    margin: 20px 0;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}