@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#FFBA86, #79155B);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover , 
header ul li a.active
{
    background: #fff;
    color: #000;
    border-radius: 20px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#79155B, transparent);
    z-index: 1000;

}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#sun{
    mix-blend-mode: screen;
}
section img#mountains_front{
    z-index: 10;

}
#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -100px;

}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec{
    position: relative;
    width: 100%;
    padding: 100px;
    background: #79155B;
    align-items: center;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
}

/* Footer */


.footer {
    background: #2b1055;
    color: #FFBA86;
    padding: 30px 0;

}


.footer-content {
    max-width: 1500px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social-links {
    list-style: none;
    padding: 0;
}


.social-links li {
    margin-bottom: 10px; 
}


.social-links a {
    color: #FFBA86;
    text-decoration: none;
}